<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>IOL.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>IOL.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransactionController</servlet-name>
		<servlet-class>controller.TransactionControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionController</servlet-name>
		<url-pattern>/TransactionControllerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BankLoginServlet</servlet-name>
		<servlet-class>IOL.BankLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BankLoginServlet</servlet-name>
		<url-pattern>/BankLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransactionServlet</servlet-name>
		<servlet-class>IOL.TransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionServlet</servlet-name>
		<url-pattern>/TransactionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransactionRecordServlet</servlet-name>
		<servlet-class>IOL.TransactionRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionRecordServlet</servlet-name>
		<url-pattern>/TransactionRecordServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
</web-app>
